@model DREAM.Models.Caller

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div style="border:solid;border-width:1px;margin:5px">
    <fieldset>
        <legend>Caller</legend>

        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.FirstName)
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.LastName)
                </td>
                <td>
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Email)
                </td>
                <td>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Region)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Region.Code, (IEnumerable<SelectListItem>)ViewData["RegionList"])
                    @Html.ValidationMessageFor(model => model.Region.Code)
                </td>
            </tr>
        </table>
    </fieldset>
    </div>
}
