@model DREAM.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Change Password for @Html.DisplayFor(d => Model.UserName)</legend>

         @Html.HiddenFor(d => Model.UserName)

        <table border="0">
            <tr><td>            
                    @Html.LabelFor(d => Model.UserName)
                </td>
                <td>
                    @Html.TextBoxFor(d => Model.UserName, new { @disabled="disabled", @readonly="readonly" })
                </td>
            </tr>
            <tr>
                <td>            
                    @Html.LabelFor(d => Model.CurrentPassword)
                </td>
                <td>
                    @Html.PasswordFor(d => Model.CurrentPassword)
                    @Html.ValidationMessageFor(d => Model.CurrentPassword)
                </td>
            </tr>
            <tr><td>            
                    @Html.LabelFor(d => Model.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(d => Model.NewPassword)
                    @Html.ValidationMessageFor(d => Model.NewPassword)
                </td>
            </tr>
            <tr><td>            
                    @Html.LabelFor(d => Model.NewPassword2)
                </td>
                <td>
                    @Html.PasswordFor(d => Model.NewPassword2)
                    @Html.ValidationMessageFor(d => Model.NewPassword2)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Change password" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Cancel", "Manage", new { user=Model.UserName, statusMessage=""})
</div>
