@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<table>
    <tr>
        <th></th>
    </tr>
    <tr>
            <td>
                @if (User.IsInRole("DI Specialist") || User.IsInRole("Viewer") || User.IsInRole("Reporter") || User.IsInRole("ADMIN"))
                {
                    @Html.ActionLink("ChangePassword", "ChangePassword", new { userName = User.Identity.Name, success = true });
                }
                else
                {
                    @Html.ActionLink("ChangePassword", "ChangePassword", new { success = false });
                }
            </td>
    </tr>
</table>
