@model DREAM.Models.PasswordResetRequestModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>@ViewBag.Title</h2>

<html>
    <body>

        @using (Html.BeginForm()) {
             @Html.ValidationSummary(true)
   
        <table>

            @ViewBag.status
            <tr>
                <td>Enter your registered user email here:</td>
            </tr>
        </table>
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email) 
             
            <br><input type="submit" value="Reset Password" />
        }
    </body>
</html>
                     