@model DREAM.Models.PasswordResetRequestModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>@ViewBag.Title</h2>

<html>
    <body>

        @using (Html.BeginForm()) {
             @Html.ValidationSummary(true)
   
        <table>

            @ViewBag.status
            <tr>
                <td>Enter your registered user email here:</td>
            </tr>
        </table>
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            <input type="submit" value="Reset Password" />
        }
         <!--
         <form name="input" method="post">
             <input type="text" name="userEmail">
            <input type="submit" value="Submit" onclick="resetPassword(document.input.userEmail.value)">
         </form>

              <script type="text/javascript">
            function resetPassword(email) {
                alert("Going to reset password for " + email);
            }
        </script>
         -->
    </body>
</html>
                     