@model DREAM.Models.ChartValueModel
@using DREAM.Helpers

<li>
    @using (Html.BeginCollectionItem("Values"))
    {
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)

        @Html.LabelFor(model => model.PropertyName)
        @Html.EditorFor(model => model.PropertyName)
        @Html.ValidationMessageFor(model => model.PropertyName)

        @Html.LabelFor(model => model.Function)
        @Html.DropDownListFor(model => model.Function, (IEnumerable<SelectListItem>)ViewData["StatFunctionList"])
        @Html.ValidationMessageFor(model => model.Function)
    }
</li>