@model DREAM.Models.ChartValueModel
@using DREAM.Models
@using DREAM.Helpers

<li>
    @using (Html.BeginCollectionItem("Values"))
    {
        <div class="row">
            <div class="span3">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { @class = "span3" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="span3">
                @Html.LabelFor(model => model.PropertyName)
                @if (ViewData["chart"] != null && ((ChartModel)ViewData["chart"]).ObjectType == typeof(Request))
                {
                    @Html.DropDownListFor(model => model.PropertyName, (IEnumerable<SelectListItem>) ViewData["RequestPropertiesList"],
                        new { @class = "propertySelector span3" })
                }
                else if (ViewData["chart"] != null && ((ChartModel)ViewData["chart"]).ObjectType == typeof(Question))
                {
                    @Html.DropDownListFor(model => model.PropertyName, (IEnumerable<SelectListItem>) ViewData["QuestionPropertiesList"],
                        new { @class = "propertySelector span3" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.PropertyName, (IEnumerable<SelectListItem>) new List<SelectListItem>(),
                        new { @class = "propertySelector span3", disabled = "" })
                }
                @Html.ValidationMessageFor(model => model.PropertyName)
            </div>

            <div class="span3">
                @Html.LabelFor(model => model.Function)
                @if(Model != null && Model.PropertyName != null)
                {
                    @Html.DropDownListFor(model => model.Function, (IEnumerable<SelectListItem>)ViewData["StatFunctionList"],
                        new { @class = "statFunctionSelector span3"})
                }
                else
                {
                    @Html.DropDownListFor(model => model.Function, (IEnumerable<SelectListItem>)new List<SelectListItem>(),
                        new { @class = "statFunctionSelector span3", disabled = ""})
                }
                @Html.ValidationMessageFor(model => model.Function)
            </div>
        </div>
    }
</li>