@model DREAM.Models.ChartModel
@using DREAM.Helpers

<li>
    @using (var scope = Html.BeginCollectionItem("Charts"))
    {
        <span>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)

            @Html.LabelFor(model => model.ObjectTypeName)
            @Html.DropDownListFor(model => model.ObjectTypeName, (IEnumerable<SelectListItem>)ViewData["ObjectTypeList"], new Dictionary<string, object> { {"class", "objectTypeSelector" } })
            @Html.ValidationMessageFor(model => model.ObjectTypeName)

            @Html.LabelFor(model => model.StartDate)
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)

            @Html.LabelFor(model => model.TimeRange)
            @Html.DropDownListFor(model => model.TimeRange, (IEnumerable<SelectListItem>)ViewData["TimeRangeList"])
            @Html.ValidationMessageFor(model => model.TimeRange)

            @Html.LabelFor(model => model.Granularity)
            @Html.DropDownListFor(model => model.Granularity, (IEnumerable<SelectListItem>)ViewData["TimeRangeList"])
            @Html.ValidationMessageFor(model => model.Granularity)

            @Html.LabelFor(model => model.ChartType)
            @Html.DropDownListFor(model => model.ChartType, (IEnumerable<SelectListItem>)ViewData["ChartTypeList"])
            @Html.ValidationMessageFor(model => model.ChartType)

            @Html.LabelFor(model => model.Comparison)
            @Html.DropDownListFor(model => model.Comparison, (IEnumerable<SelectListItem>)ViewData["ComparisonList"])
            @Html.ValidationMessageFor(model => model.Comparison)

            @Html.LabelFor(model => model.Stratification)
            @Html.DropDownListFor(model => model.Stratification, new List<SelectListItem>(), new Dictionary<string, object> { {"class", "stratificationSelector" } }) @*//(IEnumerable<SelectListItem>)ViewData["RequestStratificationList"])*@
            @Html.ValidationMessageFor(model => model.Stratification)
        </span>

        <h3>Values</h3>
        <a href="javascript:void(0);" class="addNewValue">Add another</a>

        <ul class="chartValues" style="list-style-type: none">
            @if (Model == null || Model.Values == null || Model.Values.Count == 0)
            {
                @Html.Partial("ChartValueModel", null);
            }
            else
            {
                foreach (DREAM.Models.ChartValueModel value in Model.Values)
                {
                @Html.Partial("ChartValueModel", value);
                }
            }
        </ul>
    }
</li>