@model DREAM.Models.Keyword

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Home/_BaseAdmin.cshtml";
}

<h2>Edit Keyword</h2>

<fieldset>
    <legend>@Html.DisplayFor(d => Model.KeywordText)</legend>

    @using (Html.BeginForm("Edit", "KeywordAdmin", FormMethod.Post, new { @class = "form-horizontal" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(d => Model.ID)

        <div class="control-group">
            @Html.LabelFor(d => d.KeywordText, "Modify the keyword to:", new { @class = "control-label" })

            <div class="controls">
                @Html.EditorFor(d=>Model.KeywordText)
                @Html.ValidationMessageFor(d=>Model.KeywordText)
            </div>
        </div>

         @Html.ActionLink("Cancel", "Index", new { page = 1 }, new { @class = "btn btn-inverse" })
        <input type="submit" class="btn" value="Save Keyword" />
    }
</fieldset>