<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - DREAM</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrapcss")
        @Styles.Render("~/Content/DREAMcss")
        @RenderSection("Styles", false)

    </head>
    <body>

        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="row">
                        <div class="span4">
                            <a class="brand" href="/">
                                <img src="~/Images/BC_Cancer_logo.png" />
                            </a>
                        </div>

                        <div class="span8">
                            <div class="nav-collapse collapse" id="main-menu">
                                <ul class="nav pull-right" id="menu">
                                    @{
                                        bool isAdmin = User.IsInRole("Admin");
                                        bool isDISpecialist = User.IsInRole("DI Specialist");
                                        bool isViewer = User.IsInRole("Viewer");
                                        bool isReporter = User.IsInRole("Reporter");
                                        
                                        if(isDISpecialist) 
                                        {
                                                        <li>@Html.ActionLink("Create Request", "Add", "Requests")</li>
                                        }

                                        if(isReporter)
                                        {
                                            <li>@Html.ActionLink("Reports", "Generate", "Reports")</li>
                                        }

                                        if(isAdmin) 
                                        {
                                            <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
                                        }
                                    }
                                    @Html.Partial("_LoginPartial")
                                </ul>
                            </div>
                            @if(isDISpecialist || isViewer) {
                                <div>
                                    @using(Html.BeginForm("Search", "Requests", FormMethod.Post, new { id = "menu-search", @class = "form-search pull-right" })) {
                                        @Html.TextBox("Query", "", new { @class = "search-input-disabled", placeholder = "Enter Keywords" })
                                        <button type="submit" class="btn">Search Requests</button>
                                    }
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

            <footer>
                <hr />

                <center>
                @Html.ActionLink("About", "About", "Home") |
                @Html.ActionLink("Contact", "Contact", "Home")
                <p>&copy; @DateTime.Now.Year DREAM</p>
                </center>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
