@if (Request.IsAuthenticated) {
    <li class="dropdown" id="preview-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Logged in as <b>@User.Identity.Name</b> <b class="caret"></b></a>

        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Change Password", "ChangePassword", "Users", routeValues: null, htmlAttributes: new { @class = "username", title = "Change Password" })
            </li>
            <li>
                @using (Html.BeginForm("LogOff", "Users", FormMethod.Post, new { id = "logoutForm" })) {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            </li>
        </ul>
    </li>

    <!--
    <li>
    @Html.ActionLink(User.Identity.Name, "Manage", "Users", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
    </li>
    <li>
    @using (Html.BeginForm("LogOff", "Users", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
    </li>
    -->
} else {
    <li>@Html.ActionLink("Log in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
