@model DREAM.Models.DropDown

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add New @Html.DisplayFor(d => Model.GetType().Name)</legend>

        @Html.HiddenFor(d => Model.ID)

        <table border="0">
            <tr>
                <td>            
                    @Html.LabelFor(d => Model.Code)
                </td>
                <td>
                    @Html.EditorFor(d => Model.Code)
                    @Html.ValidationMessageFor(d => Model.Code)
                </td>
            </tr>
            <tr><td>            
                    @Html.LabelFor(d => Model.FullName)
                </td>
                <td>
                    @Html.EditorFor(d => Model.FullName)
                    @Html.ValidationMessageFor(d => Model.FullName)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Cancel", "Index", new { dropDownClass="Regions"})
</div>