@model System.Data.Entity.DbSet

@{
    ViewBag.Title = ViewBag.ActiveDropDownAdminClass + "s";
    Layout = "~/Views/Home/_BaseAdmin.cshtml";
    string addNewLinkText = "Add New " + ViewBag.ActiveDropDownAdminClass;
}

<div class="row">
    <div class="span9">
        <h2>@ViewBag.Title</h2>
        @Html.ActionLink(addNewLinkText, "Add", new { dropDownClass = Model.ElementType.Name }, new { @class = "btn btn-primary" })
    </div>
</div>

<hr />

<div class="row">
    <div class="span9">
        <table class="table table-striped"> <tr> <th>Code</th> <th>Full Value</th> <th></th> <th></th> </tr>  @if (Model == null) { <tr> <td> NoValues </td> <td> NoValues </td> <td> NoValues </td> <td> NoValues </td> </tr> } else 
        {
            foreach (DREAM.Models.DropDown dp in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(d => dp.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(d => dp.FullName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { dropDownId=dp.ID, dropDownClass=dp.GetType().Name})
                    </td>
                    <td>
                        @if (dp.Enabled)
                        {
                            @Html.ActionLink("Disable", "Delete", new { dropDownId=dp.ID, enabled=dp.Enabled, dropDownClass=dp.GetType().Name})
                        }
                        else
                        {
                            @Html.ActionLink("Enable", "Delete", new { dropDownId=dp.ID, enabled=dp.Enabled, dropDownClass=dp.GetType().Name})
                        }
                    </td>
                </tr>
            }
        }
        </table>
    </div>
</div>

<table>
    <tr>
        <th></th>
    </tr>
    <tr>
            <td>
                @Html.ActionLink(addNewLinkText, "Add", new { dropDownClass = Model.ElementType.Name }, new { @class = "btn btn-primary" })
            </td>
    </tr>
</table>