@model DREAM.Models.LogFilterModel
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (@Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.RequestID)
            </td>
            <td>
                @Html.EditorFor(model => model.RequestID)
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <input type="submit" name="button" value="Filter" />
                </p>
            </td>
        </tr>
    </table>
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PagedLogs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model.PagedLogs, page => Url.Action("Index", new { request = @Html.Raw(Json.Encode(Model.RequestID)), page = page }))