@model DREAM.Models.RequestViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Add Request</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.RequesterTypeStringID)
                @Html.DropDownListFor(m => m.RequesterTypeStringID, (IEnumerable<SelectListItem>)ViewData["RequesterTypeList"], new { id = "req-type" })
            </li>

            <li>
                <h1>Caller</h1>
            </li>
            <li>
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <fieldset>
                        <legend>Caller</legend>

                        @Html.HiddenFor(m => m.CallerID)

                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerFirstName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.CallerFirstName, new { id = "caller-first" })
                                    @Html.ValidationMessageFor(m => m.CallerFirstName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerLastName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.CallerLastName, new { id = "caller-last" })
                                    @Html.ValidationMessageFor(m => m.CallerLastName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerEmail)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.CallerEmail)
                                    @Html.ValidationMessageFor(m => m.CallerEmail)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerPhoneNumber)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.CallerPhoneNumber)
                                    @Html.ValidationMessageFor(m => m.CallerPhoneNumber)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerRegionStringID)
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.CallerRegionStringID, (IEnumerable<SelectListItem>)ViewData["RegionList"])
                                    @Html.ValidationMessageFor(m => m.CallerRegionStringID)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </li>

            <li>
                <h1>Patient</h1>
            </li>
            <li>
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <fieldset>
                        <legend>Patient</legend>

                        @Html.HiddenFor(m => m.PatientID)

                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientFirstName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.PatientFirstName, new { id = "patient-first" })
                                    @Html.ValidationMessageFor(m => m.PatientFirstName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientLastName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.PatientLastName, new { id = "patient-last" })
                                    @Html.ValidationMessageFor(m => m.PatientLastName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientAgencyID)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.PatientAgencyID)
                                    @Html.ValidationMessageFor(m => m.PatientAgencyID)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientGender)
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.PatientGender, (IEnumerable<SelectListItem>)ViewData["GenderList"])
                                    @Html.ValidationMessageFor(m => m.PatientGender)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientAge)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.PatientAge)
                                    @Html.ValidationMessageFor(m => m.PatientAge)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </li>

        </ol>

        @Html.ValidationSummary()

        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        var patient = false;

        $(document).ready(function () {
            $('#req-type').change(function () {
                if ($('#req-type').children("option:selected").text() == "Patient") {
                    patient = true;
                    $('#patient-first').val($('#caller-first').val());
                    $('#patient-last').val($('#caller-last').val());
                }
                else patient = false;
            });

            $('#caller-first').keyup(function () {
                if (patient == true)
                    $('#patient-first').val($('#caller-first').val());
            });

            $('#caller-last').keyup(function () {
                if (patient == true)
                    $('#patient-last').val($('#caller-last').val());
            });

            $('#patient-first').keyup(function () {
                if (patient == true)
                    $('#caller-first').val($('#patient-first').val());
            });

            $('#patient-last').keyup(function () {
                if (patient == true)
                    $('#caller-last').val($('#patient-last').val());
            });

            $("#PatientAgencyID").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Autocomplete/Patient", type: "POST", dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: "{ \"agencyId\": \"" + request.term + "\" }",
                        async: true,
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (result) {
                            response(null);
                        }
                    });
                },
                delay: 500,
                minLength: 2,
                select: function (event, ui) {
                    $("input[name=PatientAgencyID]").val(ui.item.AgencyID);
                    $("input[name=PatientFirstName]").val(ui.item.FirstName);
                    $("input[name=PatientLastName]").val(ui.item.LastName);
                    $("input[name=PatientGender]").val(ui.item.Gender);
                    $("input[name=PatientAge]").val(ui.item.Age);
                },
            });
        });
    </script>
}
