@model DREAM.Models.RequestViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Add Request</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.RequestTypeStringID)
                @Html.DropDownListFor(m => m.RequestTypeStringID, (IEnumerable<SelectListItem>)ViewData["RequestTypeList"])
            </li>

            <li>
                <h1>Caller</h1>
            </li>
            <li>
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <fieldset>
                        <legend>Caller</legend>

                        @Html.HiddenFor(m => m.CallerID)

                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerFirstName)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.CallerFirstName)
                                    @Html.ValidationMessageFor(m => m.CallerFirstName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerLastName)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.CallerLastName)
                                    @Html.ValidationMessageFor(m => m.CallerLastName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerEmail)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.CallerEmail)
                                    @Html.ValidationMessageFor(m => m.CallerEmail)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerPhoneNumber)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.CallerPhoneNumber)
                                    @Html.ValidationMessageFor(m => m.CallerPhoneNumber)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerRegionStringID)
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.CallerRegionStringID, (IEnumerable<SelectListItem>)ViewData["RegionList"])
                                    @Html.ValidationMessageFor(m => m.CallerRegionStringID)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </li>

            <li>
                <h1>Patient</h1>
            </li>
            <li>
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <fieldset>
                        <legend>Patient</legend>

                        @Html.HiddenFor(m => m.PatientID)

                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientFirstName)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.PatientFirstName)
                                    @Html.ValidationMessageFor(m => m.PatientFirstName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientLastName)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.PatientLastName)
                                    @Html.ValidationMessageFor(m => m.PatientLastName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientAgencyID)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.PatientAgencyID)
                                    @Html.ValidationMessageFor(m => m.PatientAgencyID)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientGender)
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.PatientGender, (IEnumerable<SelectListItem>)ViewData["GenderList"])
                                    @Html.ValidationMessageFor(m => m.PatientGender)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientAge)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.PatientAge)
                                    @Html.ValidationMessageFor(m => m.PatientAge)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </li>

        </ol>

        @Html.ValidationSummary()

        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
