@model DREAM.Models.Request

@{
    ViewBag.Title = "Edit Request";
}

<h2>Edit Request</h2>

@if (ViewBag.IsLocked)
{
<div class="editor-label">
This request is currently locked and cannot be edited.
</div>
}

@if (!ViewBag.IsLocked)
{
    using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Request</legend>

            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ID)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.ID)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Type)
                    </td>
                    <td>
                        @Html.DropDownList("RequestTypeList")
                        @Html.ValidationMessageFor(model => model.Type.FullName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.CreationTime)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.CreationTime)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.CreatedBy)
                    </td>
                    <td>
                        @ViewBag.createdByUsername
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.CompletionTime)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.CompletionTime)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.ClosedBy)
                    </td>
                    <td>
                        @ViewBag.closedByUsername
                    </td>
                </tr>
            </table>

            <h3>Caller Data</h3>

            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CallerID.FirstName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CallerID.FirstName)
                        @Html.ValidationMessageFor(model => model.CallerID.FirstName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.CallerID.LastName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CallerID.LastName)
                        @Html.ValidationMessageFor(model => model.CallerID.LastName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.CallerID.Email)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CallerID.Email)
                        @Html.ValidationMessageFor(model => model.CallerID.Email)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.CallerID.PhoneNumber)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CallerID.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.CallerID.PhoneNumber)
                    </td>
                </tr>
            </table>

            <h3>Patient Data</h3>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientID.FirstName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.PatientID.FirstName)
                        @Html.ValidationMessageFor(model => model.PatientID.FirstName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientID.LastName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.PatientID.LastName)
                        @Html.ValidationMessageFor(model => model.PatientID.LastName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientID.Gender)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.PatientID.Gender)
                        @Html.ValidationMessageFor(model => model.PatientID.Gender)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientID.Age)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.PatientID.Age)
                        @Html.ValidationMessageFor(model => model.PatientID.Age)
                    </td>
                </tr>
            </table>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
