@model IEnumerable<DREAM.Models.Request>

@{
    ViewBag.Title = "View All Requests";
}

<h2>All Requests</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionTime)
        </td>
        <td>
            @Html.Action("FindUsernameFromID", new { userID = item.CreatedBy })
        </td>
        <td>
            @Html.Action("FindUsernameFromID", new { userID = item.ClosedBy })
        </td>
        <td>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit", "Edit", new { id=item.ID })</li>
                    <li>@Html.ActionLink("View", "ViewRequest", new { id=item.ID })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { id=item.ID })</li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
