@model DREAM.Models.QuestionViewModel
@using DREAM.Helpers

<li>
    @using (Html.BeginCollectionItem("Questions"))
    {
        <h4>Question @Html.ValueFor(m => m.Index)</h4>
        
        @Html.HiddenFor(m => m.QuestionID)
        @Html.HiddenFor(m => m.Delete)

        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.QuestionTypeStringID)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.QuestionTypeStringID, (IEnumerable<SelectListItem>)ViewData["QuestionTypeList"])
                </td>
                <td>
                    @Html.LabelFor(m => m.TumourGroupStringID)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.TumourGroupStringID, (IEnumerable<SelectListItem>)ViewData["TumourGroupList"])
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.QuestionText)
                </td>
                <td>
                    @Html.TextAreaFor(m => m.QuestionText)
                    @Html.ValidationMessageFor(m => m.QuestionText)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Response)
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Response)
                    @Html.ValidationMessageFor(m => m.Response)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SpecialNotes)
                </td>
                <td>
                    @Html.TextAreaFor(m => m.SpecialNotes)
                    @Html.ValidationMessageFor(m => m.SpecialNotes)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Severity)
                </td>
                <td>
                    @Html.EditorFor(m => m.Severity)
                    @Html.ValidationMessageFor(m => m.Severity)
                </td>
                <td>
                    @Html.LabelFor(m => m.Probability)
                </td>
                <td>
                    @Html.EditorFor(m => m.Probability)
                    @Html.ValidationMessageFor(m => m.Probability)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.TimeTaken)
                </td>
                <td>
                    @Html.EditorFor(m => m.TimeTaken)
                    @Html.ValidationMessageFor(m => m.TimeTaken)
                </td>
            </tr>
        </table>
        
        <h5 style="display: inline;">Keywords</h5>
        <a href="javascript:void(0);" class="addNewKeyword">Add</a>

        <ul class="keywordValues" style="list-style-type: none">
            @if (Model == null || Model.Keywords == null || Model.Keywords.Count == 0)
            {
                @Html.Partial("KeywordEntry", new DREAM.Models.KeywordViewModel())
            }
            else
            {
                foreach (DREAM.Models.KeywordViewModel value in Model.Keywords)
                {
                    @Html.Partial("KeywordEntry", value)
                }
            }
        </ul>
        
        <h5 style="display: inline;">References</h5>
        <a href="javascript:void(0);" class="addNewReference">Add</a>

        <ul class="referenceValues" style="list-style-type: none">
            @if (Model == null || Model.References == null || Model.References.Count == 0)
            {
                @Html.Partial("ReferenceEntry", new DREAM.Models.ReferenceViewModel())
            }
            else
            {
                foreach (DREAM.Models.ReferenceViewModel value in Model.References)
                {
                    @Html.Partial("ReferenceEntry", value)
                }
            }
        </ul>

        @Html.ValidationSummary(true)

    }
</li>
