@model DREAM.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(m => m.Query, new { placeholder = "Enter Keywords" })
            </td>
            <td>
                <p>
                    <input type="submit" value="Search" />
                </p>
            </td>
        </tr>
        <tr>
            <td>
                @Html.ValidationMessageFor(m => m.Query)
            </td>
        </tr>
    </table>
    
    if (Model.Executed == true)
    {
        if (Model.Results.ToList().Count == 0)
        {
        <p>No results found!</p>
        }
        else
        {
        <table id="results">
            <thead>
                <tr>
                    <th>Request</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            @for (int i = 0; i < Model.Results.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => m.Results[i].RequestID)
                    </td>
                    <td>
                        @Html.ActionLink("View", "ViewRequest", new { id = Model.Results[i].RequestID })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Results[i].RequestID })
                    </td>
                </tr>
            }

            </tbody>
        </table>
        }
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#results').dataTable();
        }
    </script>
}