@model DREAM.Models.RequestViewModel
@using DREAM.Models
@using DREAM.Helpers

@{
    ViewBag.Title = "ViewRequest";
}

<h2>View Request @Html.DisplayTextFor(m => m.RequestID)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>View Request</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.RequestID)
                @Html.DisplayTextFor(m => m.RequestID)
            </li>
            @*<li>
                @Html.LabelFor(m => m.RequesterType.FullName)
                @Html.DisplayTextFor(m => m.RequesterType.FullName)
            </li>*@
            <li>
                @Html.LabelFor(m => m.CreationTime)
                @Html.DisplayTextFor(m => m.CreationTime)
            </li>
            <li>
                @Html.LabelFor(m => m.CreatedBy)
                @Html.DisplayTextFor(m => m.CreatedBy)
            </li>
            <li>
                @Html.LabelFor(m => m.CompletionTime)
                @Html.DisplayTextFor(m => m.CompletionTime)
            </li>
            <li>
                @Html.LabelFor(m => m.ClosedBy)
                @Html.DisplayTextFor(m => m.ClosedBy)
            </li>
            <li>
                @Html.LabelFor(m => m.Status)
                @Html.DisplayTextFor(m => m.Status)
            </li>

            <li>
                <h1>Caller</h1>
            </li>
            <li>
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <fieldset>
                        <legend>Caller</legend>

                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerFirstName)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.CallerFirstName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerLastName)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.CallerLastName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerEmail)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.CallerEmail)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerPhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.CallerPhoneNumber)
                                </td>
                            </tr>

                            @*<tr>
                                <td>
                                    @Html.LabelFor(m => m.CallerRegion)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.CallerRegion)
                                </td>
                            </tr>*@
                        </table>
                    </fieldset>
                </div>
            </li>

            <li>
                <h1>Patient</h1>
            </li>
            <li>
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <fieldset>
                        <legend>Patient</legend>

                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientFirstName)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.PatientFirstName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientLastName)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.PatientLastName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientAgencyID)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.PatientAgencyID)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientGender)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.PatientGender)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.PatientAge)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.PatientAge)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>

                <h3>Questions</h3>
        
                @if (Model.Questions == null || Model.Questions.Count == 0)
                {
                    <p>None.</p>
                }
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <ul id="questionList" style="list-style-type: none">
                        @if (Model.Questions != null)
                        {
                            foreach (QuestionViewModel qv in Model.Questions)
                            {
                                Html.RenderPartial("QuestionEntry", qv);
                            }
                        }
                    </ul>
                </div>

                @Html.ActionLink("Audit Request", "Index", "LogsAdmin", new { request = Model.RequestID }, "")
            </li>

        </ol>

        @Html.ValidationSummary()
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
