@model DREAM.Models.Request

@{
    ViewBag.Title = "ViewRequest";
}

<h2>View Request @Html.DisplayTextFor(m => m.ID)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>View Request</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Type)
                @Html.DisplayTextFor(m => m.Type.FullName)
            </li>

            <li>
                <h1>Caller</h1>
            </li>
            <li>
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <fieldset>
                        <legend>Caller</legend>

                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Caller.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Caller.FirstName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Caller.LastName)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Caller.LastName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Caller.Email)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Caller.Email)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Caller.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Caller.PhoneNumber)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Caller.Region)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Caller.Region.FullName)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </li>

            <li>
                <h1>Patient</h1>
            </li>
            <li>
                <div style="border: solid; border-width: 1px; margin: 5px">
                    <fieldset>
                        <legend>Patient</legend>

                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Patient.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Patient.FirstName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Patient.LastName)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Patient.LastName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Patient.AgencyID)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Patient.AgencyID)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Patient.Gender)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Patient.Gender)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Patient.Age)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(m => m.Patient.Age)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </li>

        </ol>

        @Html.ValidationSummary()

        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
