@model DREAM.Models.RequestViewModel
@using DREAM.Models
@using DREAM.Helpers

@{
    ViewBag.Title = "ViewRequest";
}

<h2>View Request</h2>

@using (Html.BeginForm())
        {

        @Html.AntiForgeryToken()

        <fieldset>

            <div class="row">
                <div class="span6">
                    <div class="control-group">
                        @Html.LabelFor(model => model.RequestID)
                        <div class="controls">
                            @Html.HiddenFor(m => m.RequestID)
                            @Html.DisplayTextFor(model => model.RequestID)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.RequesterTypeString)
                        <div class="controls">
                            @Html.DisplayFor(m => m.RequesterTypeString)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.Status)
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Status, new { disabled = "disabled", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.Close)
                        </div>
                    </div>
                </div>

                <div class="span6">
                    <div class="control-group">
                        @Html.LabelFor(model => model.CreationTime)
                        <div class="controls">
                            @Html.HiddenFor(m => m.CreationTime)
                            @Html.DisplayTextFor(model => model.CreationTime)
                        </div>
                    </div>
                
                    <div class="control-group">
                        @Html.LabelFor(model => model.CreatedBy)
                        <div class="controls">
                            @Html.HiddenFor(m => m.CreatedBy)
                            @Html.DisplayTextFor(model => model.CreatedBy)
                        </div>
                    </div>
                
                    <div class="control-group">
                        @Html.LabelFor(model => model.CompletionTime)
                        <div class="controls">
                            @Html.HiddenFor(m => m.CompletionTime)
                            @Html.DisplayTextFor(model => model.CompletionTime)
                        </div>
                    </div>
                
                    <div class="control-group">
                        @Html.LabelFor(model => model.ClosedBy)
                        <div class="controls">
                            @Html.HiddenFor(m => m.ClosedBy)
                            @Html.DisplayTextFor(model => model.ClosedBy)
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="span6">
                    <h4>Caller Data</h4>
                    @Html.HiddenFor(m => m.CallerID)

                    <div class="control-group">
                        @Html.LabelFor(m => m.CallerFirstName)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.CallerFirstName, new { id = "caller-first" })
                            <div class="span5">
                                @Html.ValidationMessageFor(m => m.CallerFirstName)
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="control-group">
                        @Html.LabelFor(m => m.CallerLastName)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.CallerLastName, new { id = "caller-last" })
                            <div class="span5">
                                @Html.ValidationMessageFor(m => m.CallerLastName)
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="control-group">
                        @Html.LabelFor(m => m.CallerEmail)
                        <div class="controls">
                            @Html.EditorFor(m => m.CallerEmail)
                            <div class="span5">
                                @Html.ValidationMessageFor(m => m.CallerEmail)
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="control-group">
                        @Html.LabelFor(m => m.CallerPhoneNumber)
                        <div class="controls">
                            @Html.EditorFor(m => m.CallerPhoneNumber)
                            <div class="span5">
                               @Html.ValidationMessageFor(m => m.CallerPhoneNumber)
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="control-group">
                        @Html.LabelFor(m => m.CallerRegionString)
                        <div class="controls">
                            @Html.DisplayFor(m => m.CallerRegionString)
                        </div>
                    </div>
                </div>

                <div class="span6">
                    <h4>Patient</h4>
                    @Html.HiddenFor(m => m.PatientID)

                    <div class="control-group">
                        @Html.LabelFor(m => m.PatientFirstName)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.PatientFirstName, new { id = "patient-first" })
                            <div class="span5">
                                @Html.ValidationMessageFor(m => m.PatientFirstName)
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="control-group">
                        @Html.LabelFor(m => m.PatientLastName)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.PatientLastName, new { id = "patient-last" })
                            <div class="span5">
                                @Html.ValidationMessageFor(m => m.PatientLastName)
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="control-group">
                        @Html.LabelFor(m => m.PatientAgencyID)
                        <div class="controls">
                            @Html.EditorFor(m => m.PatientAgencyID)
                            <div class="span5">
                                @Html.ValidationMessageFor(m => m.PatientAgencyID)
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="control-group">
                        @Html.LabelFor(m => m.PatientGender)
                        <div class="controls">
                            @Html.DisplayFor(m => m.PatientGender)
                            <div class="span5">
                                @Html.ValidationMessageFor(m => m.PatientGender)
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="control-group">
                        @Html.LabelFor(m => m.PatientAge)
                        <div class="controls">
                            @Html.EditorFor(m => m.PatientAge)
                            <div class="span5">
                                @Html.ValidationMessageFor(m => m.PatientAge)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <h3>Questions</h3>
                            
            @if (Model.Questions == null || Model.Questions.Count == 0)
            {
                <p>None.</p>
            }

            <ul id="questionList" style="list-style-type: none">
                @if (Model.Questions != null)
                {
                    foreach (QuestionViewModel qv in Model.Questions)
                    {
                        Html.RenderPartial("QuestionEntry", qv);
                    }
                }
            </ul>

            @Html.HiddenFor(m => m.QuestionCount)

            @Html.ValidationSummary(true)

                </fieldset>
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input').each(function () {
                $(this).attr('readonly', true);
            });
            $('select').each(function () {
                $(this).attr('readonly', true);
            });
            $('textarea').each(function () {
                $(this).attr('readonly', true);
            });
            $('a').each(function () {
                if ($(this).closest('div').attr('class') == "questions") {
                    $(this).hide();
                }
            });
        });
    </script>
}
