@model System.Web.Security.MembershipUserCollection

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Home/_BaseAdmin.cshtml";
}

<h2>Users</h2>
@Html.ActionLink("Add new user", "Register", null, new { @class = "btn" })

<hr />

<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Email Address</th>
        <th>Enabled</th>
        <th>&nbsp;</th>
    </tr>

@foreach (MembershipUser user in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(u => user.UserName)
        </td>
        <td>
            @Html.DisplayFor(u => user.Email)
        </td>
        <td>
            @Html.DisplayFor(u => user.IsApproved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { username = user.UserName })
        </td>
    </tr>
}
</table>

@Html.ActionLink("Add new user", "Register", null, new { @class = "btn" })