@model DREAM.Models.RegisterUserModel

@{
    ViewBag.Title = "Register User";
    Layout = "~/Views/UsersAdmin/_Base.cshtml";
}

@section BottomOfUserForm {
    <div class="editor-label">
        @Html.LabelFor(model => Model.Password)
    </div>
  
    <div class="editor-field">
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => Model.ConfirmPassword)
    </div>
  
    <div class="editor-field">
        @Html.PasswordFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
}

@section SubmitButtonName {
    Create
}