@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The DREAM system was developed by Team One as their project for the UBC course CPSC 319 held in the January to April semester of 2013.
    </p>

    <p>
        Team One's group of developers was comprised of: Steven Baldwin,Jacqui Killow, Jonathan Neufeld, Ryan Taylor, Jessica Wong, and David Yuckin.
    </p>

</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>