@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div style="width:100%">
        <div style="float: left; width: 20%; max-width: 200px">
            <h2>Admin</h2>
            <script type="text/javascript">
                function adminListBoxClicked(listBox) {
                    document.getElementById("UsersPanel").setAttribute("style", "display: none;");
                    document.getElementById("RequestTypesPanel").setAttribute("style", "display: none;");
                    document.getElementById("RegionsPanel").setAttribute("style", "display: none;");
                    document.getElementById("TumourGroupsPanel").setAttribute("style", "display: none;");
                    document.getElementById("QuestionTypesPanel").setAttribute("style", "display: none;");
                    document.getElementById("KeywordsPanel").setAttribute("style", "display: none;");
                    document.getElementById("LogsPanel").setAttribute("style", "display: none;");

                    var selectedItemValue = listBox.options[listBox.selectedIndex].value;
                    if (selectedItemValue == 'Users') {
                        document.getElementById("UsersPanel").setAttribute("style", "display: inline;");
                    } else if (selectedItemValue == 'Request Types') {
                        document.getElementById("RequestTypesPanel").setAttribute("style", "display: inline;");
                    } else if (selectedItemValue == 'Regions') {
                        document.getElementById("RegionsPanel").setAttribute("style", "display: inline;");
                    } else if (selectedItemValue == 'Tumour Groups') {
                        document.getElementById("TumourGroupsPanel").setAttribute("style", "display: inline;");
                    } else if (selectedItemValue == 'Question Types') {
                        document.getElementById("QuestionTypesPanel").setAttribute("style", "display: inline;");
                    } else if (selectedItemValue == 'Keywords') {
                        document.getElementById("KeywordsPanel").setAttribute("style", "display: inline;");
                    } else if (selectedItemValue == 'Logs') {
                        document.getElementById("LogsPanel").setAttribute("style", "display: inline");
                    } else {
                        alert("ERROR: Cannot find an option for \"" + selectedItemValue + "\"");
                    }
                }
            </script>
            <select name="AdminListBox" size="10" style="width:90%" onchange="adminListBoxClicked(this)">
                <option selected value="Users">Users</option>
                <option value="Request Types">Request Types</option>
                <option value="Regions">Regions</option>
                <option value="Tumour Groups">Tumour Groups</option>
                <option value="Question Types">Question Types</option>
                <option value="Keywords">Keywords</option>
                <option value="Logs">Logs</option>
            </select>
        </div>
        
        <div id="RightPanel" style="float: right; width: 80%;">
            <div id="UsersPanel" style="display: inline">
                <h2>Users</h2>
                 @Html.ActionLink("UserAdmin", "Index", "UsersAdmin", "","")
            </div>

            <div id="RequestTypesPanel" style="display: none">
                <h2>Request Types</h2>
                 @Html.ActionLink("RequestTypesDropDownAdmin", "Index", "DropDownAdmin", new { dropDownClass = "RequestType"}, "")
            </div>

            <div id="RegionsPanel" style="display: none">
                <h2>Regions</h2>
                @Html.ActionLink("RegionsDropDownAdmin", "Index", "DropDownAdmin", new { dropDownClass = "Regions" }, "")
            </div>

            <div id="TumourGroupsPanel" style="display: none">
                <h2>Tumour Groups</h2>
                 @Html.ActionLink("TumourGroupDropDownAdmin", "Index", "DropDownAdmin", new { dropDownClass = "TumourGroup" }, "")
            </div>

            <div id="QuestionTypesPanel" style="display: none">
                <h2>Question Types</h2>
                  @Html.ActionLink("QuestionTypesDropDownAdmin", "Index", "DropDownAdmin", new { dropDownClass = "QuestionType" }, "")
            </div>

            <div id="KeywordsPanel" style="display: none">
                <h2>Keywords</h2>
                 @Html.ActionLink("KeywordAdmin", "Index", "KeywordsAdmin", "","")
            </div>

            <div id="LogsPanel" style="display:none">
                <h2>Logs</h2>
                @Html.ActionLink("LogsAdmin", "Index", "LogsAdmin", "", "")
            </div>
        </div>
    </div>
</body>
</html>