@model DREAM.Models.HomeViewModel
@using DREAM.Models

@{
    ViewBag.Title = "DREAM";
}

<!DOCTYPE html>

<h2>Home</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h4>Open requests </h4>
        <table>
            <tr>
                <th>ID </th>
                <th>Type </th>
                <th>Status </th>
            </tr>
            @if (Model == null || Model.OpenRequests.Count == 0)
            {
                <tr>
                    <td>No open requests </td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                for (int i = 0; i < Model.OpenRequests.Count; i++)
                {
                <tr>
                    <td>@Html.DisplayFor(d => Model.OpenRequests[i].RequestID)</td>
                    <td>@Html.DisplayFor(d => Model.OpenRequests[i].RequesterTypeStringID)</td>
                    <td>@Html.DisplayFor(d => Model.OpenRequests[i].Status)</td>
                </tr>
                 
                }
            }
        </table>

        <h4>Recently created requests </h4>
        <table>
            <tr>
                <th>ID </th>
                <th>Type </th>
                <th>Status </th>
            </tr>
            @if (Model == null || Model.RecentRequests.Count == 0)
            {
                <tr>
                    <td>No recent requests </td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                for (int i = 0; i < Model.RecentRequests.Count; i++)
                {
                <tr>
                    <td>@Html.DisplayFor(d => Model.RecentRequests[i].RequestID)</td>
                    <td>@Html.DisplayFor(d => Model.RecentRequests[i].RequesterTypeStringID)</td>
                    <td>@Html.DisplayFor(d => Model.RecentRequests[i].Status)</td>
                </tr>
                 
                }
            }
        </table>
    </div>
</body>
</html>
