@model DREAM.Models.HomeViewModel
@using DREAM.Models

@{
    ViewBag.Title = "DREAM";
}

<!DOCTYPE html>

<h2>Home</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h4>Open requests </h4>
        <table id="requests-open" class="display">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>Requester Type </th>
                    <th>Created By </th>
                    <th>Status </th>
                    <th>Creation Time </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            @if (Model == null || Model.OpenRequests.Count == 0)
            {
                <tr>
                    <td>No open requests </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                for (int i = 0; i < Model.OpenRequests.Count; i++)
                {
                <tr>
                    <td>@Html.DisplayFor(d => Model.OpenRequests[i].RequestID)</td>
                    <td>@Html.DisplayFor(d => Model.OpenRequests[i].RequesterTypeString)</td>
                    <td>@Html.DisplayFor(d => Model.OpenRequests[i].CreatedBy)</td>
                    <td>@Html.DisplayFor(d => Model.OpenRequests[i].Status)</td>
                    <td>@Html.DisplayFor(d => Model.OpenRequests[i].CreationTime)</td>
                    <td>
                        @Html.ActionLink("View", "ViewRequest", "Requests", new { id = Model.OpenRequests[i].RequestID }, null) |
                        @Html.ActionLink("Edit", "Edit", "Requests", new { id = Model.OpenRequests[i].RequestID }, null)
                    </td>
                </tr>
                 
                }
            }

            </tbody>
        </table>

        <h4>Recently created requests </h4>
        <table id="requests-recent" class="display">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>Requester Type </th>
                    <th>Created By </th>
                    <th>Status </th>
                    <th>Creation Time </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            @if (Model == null || Model.RecentRequests.Count == 0)
            {
                <tr>
                    <td>No recent requests </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                for (int i = 0; i < Model.RecentRequests.Count; i++)
                {
                <tr>
                    <td>@Html.DisplayFor(d => Model.RecentRequests[i].RequestID)</td>
                    <td>@Html.DisplayFor(d => Model.RecentRequests[i].RequesterTypeStringID)</td>
                    <td>@Html.DisplayFor(d => Model.RecentRequests[i].CreatedBy)</td>
                    <td>@Html.DisplayFor(d => Model.RecentRequests[i].Status)</td>
                    <td>@Html.DisplayFor(d => Model.RecentRequests[i].CreationTime)</td>
                    <td>
                        @Html.ActionLink("View", "ViewRequest", "Requests", new { id = Model.RecentRequests[i].RequestID }, null) |
                        @Html.ActionLink("Edit", "Edit", "Requests", new { id = Model.RecentRequests[i].RequestID }, null)
                    </td>
                </tr>
                 
                }
            }

            </tbody>
        </table>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css"></link>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.dataTables_themeroller.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#requests-open').dataTable({
                "bJQueryUI": true,
                "bPaginate": false,
                "bFilter": false,
                "bInfo": false,
                "bLengthChange": false
            });
            $('#requests-recent').dataTable({
                "bJQueryUI": true,
                "bPaginate": false,
                "bFilter": false,
                "bInfo": false,
                "bLengthChange": false
            });
        });
    </script>
}